<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Math League</title>
</head>
<body>
    <a class="back" href="/account">← account</a>
    <main>
        <h1>Propose a problem</h1>
        <hr>
        <form style="width: 100%">
            <label for="name">Problem name</label>
            <input type="text" id="name" name="name" required>
            <label for="description">Description</label>
            <div class="info-container">
                <span class="info-icon">ⓘ</span>
                <div class="info-text">(optional) Brief summary about the contents of the problem</div>
            </div>
            <input type="text" id="description" name="description" style="width: 100%" maxlength="300" placeholder="This will appear next to your problem!">
            <label for="content">Content of your problem</label>
            <textarea id="content" name="content" rows="6" maxlength="3000" placeholder="1 + 1 = ? | To insert a link, use this format: @{link>https://www.desmos.com/calculator}@" required></textarea>
            <label>Can this problem be automatically graded?</label><br>
            <input type="checkbox" id="testable" name="testable" checked><label style="display: inline; font-size: 1.25em; margin: 0.25em 0" for="testable">yes</label><br>
            <label for="answer">Answer</label>
            <input type="text" id="answer" name="answer" maxlength="255" placeholder="case-sensitive">
            <label for="difficulty">Suggested difficulty</label>
            <input type="number" min="1" step="1" id="difficulty" name="difficulty">
            <div class="buttons-container">
                <button style="margin: 1em 0 0 0" class="primary">Submit</button>
            </div>
        </form>
    </main>
    <script>
        const textarea = document.getElementById('content');
        textarea.placeholder = textarea.placeholder.replace(/ \| /g, '\n\n');

        const form = document.querySelector('form');
        const submitButton = document.querySelector('form button');
        
        form.addEventListener('submit', async e => {
            e.preventDefault();
            const name = form.name.value;
            const description = form.description.value;
            const content = form.content.value;
            const testable = form.testable.checked;
            const answer = form.answer.value;
            const difficulty = form.difficulty.value;

            try {
                const response = await fetch('/propose-problem', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ name, description, content, testable, answer, difficulty }),
                });
                

                if (response.redirected) {
                    location.href = response.url;
                } else {
                    console.log(response);
                }
            } catch (error) {
                console.error(error);
                submitButton.innerHTML = 'client error';
            }
        });

        const checkboxLabel = document.querySelector('label[for=testable]');
        const checkbox = document.querySelector('input[type=checkbox]');
        checkbox.addEventListener('change', () => {
            checkboxLabel.innerHTML = checkbox.checked ? 'yes' : 'no';
        });
    </script>
</body>